html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  min-height: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0px !important;
  border: 0px !important;
  height: 0px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__logo {
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo:hover, .header__logo:focus {
  color: #2196f3;
}

.webpart {
  color: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__main-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .menu-button {
    position: absolute;
    right: 17px;
    top: 20px;
    z-index: 99;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.menu-svg {
  width: 30px;
  height: 30px;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  height: 796px;
}

.menu.is-open {
  display: block;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 90px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item + .site-nav__item {
    margin-left: 40px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link:active {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
  position: relative;
}

.site-nav__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item + .auth-nav__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.auth-nav__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon:hover, .auth-nav__icon:focus {
  fill: #2196f3;
}

.mobile-menu {
  position: fixed;
  top: 0px;
  left: 100%;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  z-index: 98;
  background-color: #ffffff;
}

@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  top: 0px;
  left: 0px;
}

.mobile-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.mobile-menu__nav {
  display: block;
}

.menu-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 99;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .menu-btn__icon-open {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 35.7px;
}

.mobile-menu__item:hover,
.mobile-menu__item:focus {
  color: #2196f3;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1);
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
  text-decoration: none;
}

.mail-link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
  text-decoration: none;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 357px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-link {
  color: #212121;
  text-decoration: none;
}

.mobile-link--current {
  color: #2196f3;
}

.socials__link {
  color: #2196f3;
  text-decoration: none;
}

.divider {
  color: rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/GBACK.png");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/GBACK.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../images/GBACK@2x.png");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/GBACK-tablet.png");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/GBACK-tablet.png");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    width: 768px;
  }
  .hero .hero {
    background-image: url("../images/GBACK-tablet@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/GBACK-desktop.png");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/GBACK-desktop.png");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url("../images/GBACK-desktop@2x.png");
  }
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    height: 84px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    height: 120px;
    font-size: 44px;
  }
}

.hero__button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  color: #ffffff;
  font-family: inherit;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .backdrop__modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .backdrop__modal {
    min-width: 430px;
    height: 609px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-radius: 50%;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1);
}

.close-button__icon {
  width: 11px;
  height: 11px;
  fill: black;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  fill: #2196f3;
}

.header-form {
  margin-bottom: 30px;
  color: #212121;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  line-height: 100%;
  letter-spacing: 3%;
}

@media screen and (min-width: 480px) {
  .header-form {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .header-form {
    width: 448px;
  }
}

textarea {
  resize: none;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  height: 40px;
  margin-bottom: 28px;
}

@media screen and (min-width: 480px) {
  .form__field {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form__field {
    width: 448px;
  }
}

.form__input {
  margin: 0;
  padding: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__field:focus-within > .form__input {
  outline: 1px solid #2196f3;
  border-radius: 4px;
}

.form__comment:focus-within > .form__input {
  outline: 1px solid #2196f3;
  border-radius: 4px;
}

.form__icon {
  position: absolute;
  left: 15px;
  bottom: -3px;
  width: 18px;
  height: 14px;
}

.form__field:focus-within > .form__icon {
  fill: #2196f3;
}

.textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .textarea {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .textarea {
    width: 448px;
  }
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  color: #757575;
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 14px;
  line-height: 100%;
}

.form__field:focus-within > .form__label {
  color: #2196f3;
}

.form__comment:focus-within > .form__label {
  color: #2196f3;
}

.form__field:focus > outline {
  color: #2196f3;
}

.form__comment:focus > outline {
  color: #2196f3;
}

.form__comment {
  margin-bottom: 20px;
}

.term {
  color: #2196f3;
}

.checkbox__label {
  color: #757575;
  font-family: Roboto;
  font-style: Regular;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 3%;
}

.checkbox__label::before {
  display: inline-block;
  content: ' ';
  width: 15px;
  height: 13px;
  border: 1px solid #212121;
  border-radius: 2px;
}

@media screen and (min-width: 480px) {
  .checkbox__label::before {
    font-size: 12px;
  }
}

.checkbox:focus-within + .checkbox__label::before {
  border: 1px solid #188ce8;
}

.checkbox:checked + .checkbox__label::before {
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #2196f3;
  border-color: #2196f3;
}

.form__checkbox {
  margin-bottom: 30px;
}

.form__send {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 56px;
  background-color: #188ce8;
  color: #ffffff;
  font-family: Roboto;
  font-style: 700;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 480px) {
  .benefits-points {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefits-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .benefits-decor {
    width: 450px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-decor {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-decor {
    width: 270px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-points__point {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .benefits-points__point {
    text-align: center;
  }
}

.benefits-points__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .benefits-points__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.benefits-points__item {
  width: 450px;
}

.benefits-points__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-points__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-points__item {
    width: 270px;
  }
  .benefits-points__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-points__text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section {
  padding-bottom: 60px;
}

.section__title {
  color: #212121;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .section__title {
    margin-bottom: 30px;
    text-align: center;
    width: 450px;
    height: 33px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 30px;
    text-align: center;
    width: 740px;
    height: 33px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    width: 1200px;
    height: 42px;
    font-size: 36px;
  }
}

.pages-work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .pages-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.pages-work__item {
  position: relative;
}

.pages-work__item:not(:last-child) {
  margin-right: 30px;
}

.work__title {
  display: none;
  margin-bottom: 50px;
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .work__title {
    display: block;
  }
}

.work-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

.ourteam {
  background-color: #f5f4fa;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .names-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .names-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

.names-work__item {
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.14);
}

@media screen and (min-width: 480px) {
  .names-work__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .names-work__item {
    width: 354px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .names-work__item {
    width: 270px;
  }
  .names-work__item:not(:last-child) {
    margin-right: 30px;
  }
}

.description {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
  color: #757575;
  background-color: #ffffff;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .description {
    width: 450px;
    height: 162px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .description {
    width: 354px;
    height: 192px;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    width: 270px;
    height: 168px;
    margin: 0;
  }
}

.description__work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.description__names {
  color: #212121;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .team-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item:not(:last-child) {
    margin-right: 10px;
  }
}

.team-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list__link:hover, .team-list__link:focus {
  background-color: #2196f3;
}

.team-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list__link:hover .team-icon,
.team-list__link:focus .team-icon {
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 480px) {
  .clients-link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.clients-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer {
    height: 603px;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .join-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo:hover, .footer__logo:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .footer__logo {
    text-align: center;
  }
}

.footer__address {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover, .footer__address:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .footer__address {
    text-align: center;
    width: 232px;
  }
}

@media screen and (min-width: 480px) {
  .footer__auth-contacs {
    text-align: center;
    margin-bottom: 60px;
  }
}

.auth-contacts__link {
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-contacts__link:hover, .auth-contacts__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__auth-address {
    margin-right: 165px;
  }
}

.auth-address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-address__link:hover, .auth-address__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .join-list {
    text-align: center;
    margin-bottom: 60px;
  }
}

.join__title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .join__title {
    text-align: center;
  }
}

.join-list__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .join-list__item {
    text-align: center;
  }
}

.join-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #47474e;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list__link:hover, .join-list__link:focus {
  background-color: #2196f3;
}

.join-icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon:hover, .join-icon:focus {
  fill: #ffffff;
}

.subscribe {
  margin-left: 93px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscribe {
    margin: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscribe__form {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__input {
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 16px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscribe__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

.subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subcribe-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 29px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subcribe-button {
    text-align: center;
    margin: 0;
  }
}

.subcribe-button__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  width: 34px;
  height: 24px;
}

.thumb {
  padding-top: 60px;
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) {
  .buttons-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .buttons-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .buttons-list__item {
    text-align: center;
    margin-bottom: 15px;
  }
}

.buttons-list__item:not(:last-child) {
  margin-right: 9px;
}

.buttons-list__button {
  padding: 6px 22px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid transparent;
  color: #212121;
  font-family: inherit;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list__button:hover, .buttons-list__button:focus {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.08);
  color: #ffffff;
  background-color: #2196f3;
}

.pageslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 480px) {
  .pageslist {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .pageslist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.pageslist__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 370px;
  max-height: 440px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.pageslist__item:nth-child(3n) {
  margin-right: 0px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .pageslist__item {
    max-width: 450px;
    width: 100%;
    max-height: 440px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pageslist__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    max-height: 440px;
  }
}

.thumb-page {
  position: relative;
  overflow: hidden;
}

.thumb__decor {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) translateY(100%);
          transform: translate(-50%, -50%) translateY(100%);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: regular;
  font-size: 20px;
  line-height: 28px;
  line-height: 133%;
  letter-spacing: 3%;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pageslist__link:hover .thumb__decor,
.pageslist__link:focus .thumb__decor {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) translateY(0);
          transform: translate(-50%, -50%) translateY(0);
}

.pageslist__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pageslist__link:hover, .pageslist__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.page-content {
  padding: 24px;
}

.page-content__names {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #757575;
}

.pageslist__link {
  display: block;
  text-decoration: none;
}

.page-content__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */