.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0px !important;
  border: 0px !important;
  height: 0px !important;
  width: 1px !important;
  overflow: hidden;
}
